@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}<!doctype html>
<html>
<head>
    <title>Testing Ditto Resolvers</title>
</head>
<body>
    <p>This will test ditto resolvers.</p>
</body>
</html>